div {

padding: 2rem;
background-color:rgb(145, 231, 184);
margin: 1rem;
font-size: 2rem;
display: flex;
justify-content: center;
align-items: center;
}

body {
    display: flex;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto repeat(3, 11rem) auto;
} 

.balance {
    grid-column: 1 / 3;
}

.transaction {
    grid-row: 2 / 5;
}

.information {
    grid-column: 1 / 3;
}